<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        登录
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/x-admin.css" media="all">
</head>

<body style="background-color: #393D49">
    <div class="x-box">
        <div class="x-top">
            <i class="layui-icon x-login-close">
                &#x1007;
            </i>
            <ul class="x-login-right">
                <li style="background-color: #F1C85F;" color="#F1C85F">
                </li>
                <li style="background-color: #EA569A;" color="#EA569A">
                </li>
                <li style="background-color: #393D49;" color="#393D49">
                </li>
            </ul>
        </div>
        <div class="x-mid">
            <div class="x-avtar">
                <img src="../images/logo.png" alt="">
            </div>
            <div class="input">
                <div class="layui-form">
                    <div class="layui-form-item x-login-box">
                        <label for="username" class="layui-form-label">
                            <i class="layui-icon">&#xe612;</i>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="username" name="username" required="" lay-verify="username"
                                autocomplete="off" placeholder="username" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item x-login-box">
                        <label for="pass" class="layui-form-label">
                            <i class="layui-icon">&#xe628;</i>
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" id="pass" name="pass" required="" lay-verify="pass"
                                autocomplete="off" placeholder="******" class="layui-input">
                        </div>
                    </div>
                    <p style="width:370;padding:5px 15px;color: red;text-align: center;" id="errormsg"></p>
                    <div class="layui-form-item" id="loginbtn">
                        <button class="layui-btn loginbtn" lay-filter="save" lay-submit="">
                            登 录
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="color:#fff;text-align: center;">Copyright © 2019.Company name All rights LGR </p>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>



        var loginout = ('<%-loginout %>') ? ('<%-loginout %>') : 0;

        if (loginout == 1) {
            sessionStorage.removeItem('token');
            sessionStorage.removeItem('name');
            sessionStorage.removeItem('id');
        }

        $('.loginbtn').click(function (e) {
            e.preventDefault();
            var name = $('#username').val();
            var pass = $('#pass').val();
            var data = [{ name: name }]
            if (name === '') {
                $('#errormsg').html('请输入账号和密码');
            } else if (name != '' && pass == '') {
                $('#errormsg').html('请输您的密码');
            } else if (name == '' && pass != '') {
                $('#errormsg').html('请输您的账号');
            } else {
                $.ajax({
                    type: "post",
                    url: "/login",
                    data: {
                        name: name,
                        password: pass
                    },
                    success: function (str) {
                        // console.log(str);
                        if (str.status == '-1') {
                            $('#errormsg').html('账号不存在');
                        } else if (str.status == '0') {
                            $('#errormsg').html('账号和密码不匹配、请重新输入');
                        } else if (str.result[0].static == '已停用') {
                            $('#errormsg').html('账号已被停用 、请联系管理员');
                        } else if (str.status == '1') {
                            sessionStorage.setItem('token', str.token);
                            sessionStorage.setItem('name', str.result[0].name);
                            sessionStorage.setItem('id', str.result[0]._id);

                            console.log(str.token)
                            // 发送请求登录到首页
                            $.ajax({
                                type: "post",
                                url: "/index/token",
                                data: {
                                    token: str.token,
                                    name: str.result[0].name,
                                    id: str.result[0]._id
                                },
                                success: function (str) {
                                    if (str.msg = 0) {
                                        location.href = '/login';
                                    } else {
                                        location.href = '/index';
                                    }
                                }
                            });
                        }
                    }
                });
            }

        });



        // layui.use(['form'],
        //     function () {
        //         $ = layui.jquery;
        //         var form = layui.form(),
        //             layer = layui.layer;

        //         $('.x-login-right li').click(function (event) {
        //             color = $(this).attr('color');
        //             $('body').css('background-color', color);
        //         });

        //         // //监听提交
        //         // form.on('submit(save)',
        //         //     function (data) {
        //         //         console.log(data);
        //         //         location.href = "/index";
        //         //         return false;
        //         //     });






        //     });

    </script>
</body>

</html>